signature-area {
  display: block;
}

.signature-area {
  canvas {
    background-color: #eee;
  }

  .clear {
    position: fixed;
    top: 6px;
    left: 0px;
  }

  .back {
    position: fixed;
    bottom: 6px;
    left: 0px;
  }

  i.material-icons {
    transform: rotate(-90deg);
  }
}

.signature-area:not(.open) {
  display: none;
}

.signature-area.open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
