<section class="liability-list">
  <section class="list">
    <div ng-repeat="text in $ctrl.texts">
      <h2>{{ text.title }}</h2>
      <div class="body" ng-hide="text.hasRead">
        <p ng-repeat="p in text.body">{{ p }}</p>
      </div>
      <button ng-click="$ctrl.read(text)">
        {{ text.hasRead ? 'Reread' : 'Read' }}
      </button>
    </div>
  </section>
  <section class="actions">
    <button ng-click="$ctrl.readAll()">
      {{ $ctrl.allRead() ? 'Reread all' : 'All read' }}
    </button>
  </section>
  <section class="signature">
    <img
      ng-hide="!$ctrl.signature"
      ng-src="{{ $ctrl.signature }}"
      height="100"
    />
    <input type="text" placeholder="Name" ng-model="$ctrl.name" />
  </section>
  <section class="actions">
    <button ng-click="$ctrl.sign()" ng-disabled="!$ctrl.complete()">
      Sign
    </button>
  </section>
  <signature-area signature="$ctrl.signature"></signature-area>
</section>
