.liability-list {
  .list {
    padding: 12px;
  }

  .signature {
    margin: 12px;
  }

  .actions {
    padding: 12px;
  }

  button {
    background-color: lightgray;
  }

  input[type='text'] {
    border: none;
    border-bottom: 1px solid black;
    padding: 4px;
    width: 80%;
  }
}
